/* base styles */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  max-width: 100%; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }
  fieldset legend {
    padding: 0; }

@keyframes focusPop {
  0% {
    transform: scale(1); }
  75% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes strike {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(1.5em); }
  100% {
    opacity: 1;
    transform: translatey(0); } }

body {
  background: #F7F6F5;
  color: #1D3342;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3 {
  color: #1D3342; }

a {
  color: #1D3342;
  font-weight: 600;
  text-decoration: none; }

a:hover {
  color: #797979; }

.hidden {
  display: none; }

/* component styles */
header {
  width: 100vw;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 25px; }
  header > a img {
    width: 79px; }
  header > a:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100px; }
    header > a:last-of-type img {
      width: 36px; }
    header > a:last-of-type span {
      margin: 0 14px; }
    header > a:last-of-type:hover {
      opacity: .8; }
  header ul {
    display: flex;
    align-items: center; }
    header ul a {
      padding: 12px; }

main {
  width: 1085px;
  margin: 110px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  main h1 {
    width: 100%;
    font-size: 40px;
    margin-bottom: 33px; }
  main section {
    background: white;
    width: 676px;
    padding: 30px; }
    main section article {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #E1DDD8;
      align-items: center; }
      main section article:last-child {
        border-bottom: none; }
      main section article img {
        width: 34px;
        height: 103px;
        margin: 25px;
        margin-right: 45px; }
      main section article h2 {
        font-weight: 600;
        font-size: 20px; }
      main section article .content {
        width: 370px; }
      main section article p {
        color: #797979;
        font-weight: 500;
        margin: 6px 0; }
      main section article span {
        font-weight: bold;
        margin: 11px 0;
        font-size: 20px; }
      main section article .amount {
        display: flex;
        justify-content: flex-end; }
        main section article .amount input {
          width: 73px;
          font-size: 16px;
          font-weight: 600;
          height: 28px;
          border-radius: 14px;
          box-shadow: none;
          border: 1px solid #E1DDD8;
          text-align: center;
          color: #797979; }
          main section article .amount input:focus {
            outline: none; }
        main section article .amount button {
          margin-left: 10px;
          height: 28px;
          border: 1px solid #E1DDD8;
          font-size: 14px;
          color: #E1DDD8;
          text-align: center;
          border-radius: 14px; }
          main section article .amount button:hover {
            color: #A0000C;
            cursor: pointer; }
  main aside {
    width: 377px;
    background: white;
    margin-left: 32px;
    padding: 30px; }
    main aside h1 {
      font-size: 20px;
      display: block;
      border-bottom: 1px solid #E1DDD8;
      padding: 14px 0 24px; }
    main aside table {
      color: #797979;
      font-weight: 600;
      width: 100%;
      border-bottom: 1px solid #E1DDD8;
      padding-bottom: 20px; }
      main aside table tr {
        height: 30px; }
        main aside table tr:last-child {
          height: 50px;
          color: #1D3342; }
          main aside table tr:last-child td:last-child {
            font-size: 24px; }
      main aside table tr td:last-child {
        text-align: right; }
    main aside .button {
      width: 100%;
      background: #355B79;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      text-align: center;
      border-radius: 27px;
      border: none;
      padding: 15px 0;
      font-size: 16px;
      margin: 30px 0 0;
      transition: .2s;
      cursor: pointer;
      display: block; }
      main aside .button:hover {
        background: #4D7B9F; }
