<header>
    <a href="#main">Navigatie overslaan</a>
  <button><i class="fas fa-plus"></i></button>
  <div>
    <h1>Everything Web</h1>
    <h2>Minor Web Development 1718</h2>
  </div>
  <div>
    <input type="search" placeholder="Zoek een document, artikel of presentatie">
    <img src="images/avatar@2x.png" alt="Avatar">
    <button>Vienna</button>
    <ul>
      <li>
        <a href="#">Instellingen</a>
      </li>
      <li>
        <a href="#">Uitloggen</a>
      </li>
    </ul>
  </div>
</header>
<aside>
  <nav>
    <ul>
      <li>
        <a href="#" class="home active">Overzicht</a>
      </li>
      <li>
        <h1>Vakken</h1>
        <ul>
          <li>
            <a href="real-time-web.html" class="actueel">Real-Time Web</a>
          </li>
          <li>
            <a href="real-time-web.html" class="actueel">Web Design</a>
          </li>
          <li>
            <a href="weekly-nerd.html" class="actueel">Weekly Nerd</a>
          </li>
          <li>
            <a href="real-time-web.html" class="progress">Browser Technologies</a>
          </li>
          <li>
            <a href="real-time-web.html" class="voltooid">CSS To The Rescue</a>
          </li>
          <li>
            <a href="real-time-web.html" class="voltooid">Performance Matters</a>
          </li>
          <li>
            <a href="real-time-web.html" class="voltooid">Web App From Scratch</a>
          </li>
        </ul>
      </li>

      <li>
        <h1>Projecten</h1>
        <ul>
          <li>
            <a href="#" class="actueel">Project 3</a>
          </li>
          <li>
            <a href="#" class="voltooid">Project 2 - Lifely</a>
          </li>
          <li>
            <a href="#" class="voltooid">Project 1 - OBA</a>
          </li>
        </ul>
      </li>
      <li>
        <h1>Algemeen</h1>
        <ul>
          <li>
            <a href="#" class="link">Slack</a>
          </li>
          <li>
            <a href="#" class="link">GitHub Repo</a>
          </li>
        </ul>
      </li>
      <li>
        <h1>Docenten</h1>
        <ul>
          <li>
            <a href="#" class="docent">Koop Reynders</a>
          </li>
          <li>
            <a href="#" class="docent">Joost Faber</a>
          </li>
          <li>
            <a href="#" class="docent">Laurens Aarnoudse</a>
          </li>
          <li>
            <a href="#" class="docent">Vasilis Gemert</a>
          </li>
          <li>
            <a href="#" class="docent">Titus Wormer</a>
          </li>
          <li>
            <a href="#" class="docent">Krijn Hoetmer</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>

<main id="main">
  <h1>Overzicht</h1>
  <h2>Vandaag</h2>
  <article>
    <h3><a href="">Web Design</a></h3>
    <time datetime="2018-04-23">maandag 23 april 2018</time>
    <span>Maandag krijg je ook feedback op je opdracht en hoe je de Interface Principles hebt toegepast en getest.</span>
    <h4>Huiswerk</h4>
    <ul>
      <li>
        <input type="checkbox" id="list1">
        <a href="#">Design for Fingers, Touch, and People Part 1 van Steven Hoober</a>
      </li>
    </ul>
    <h4>Programma</h4>
    <ul>
      <li>
        <a href="#" class="link">Sides les 3 - Usability & User needs</a>
      </li>
    </ul>
  </article>
  <h2>Morgen</h2>
  <article>
    <h3><a href="real-time-web.html">Real-Time Web</a></h3>
    <time datetime="2018-04-24">dinsdag 24 april 2018</time>
    
    <h4>Programma</h4>
    <ul>
      <li>
        <a href="#" class="link">Sides les 3 - Usability & User needs</a>
      </li>
    </ul>
  </article>
</main>